*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
}
body{
  button{
    background-color: black;
    color: white;
    padding: 20px 45px;
    border-radius: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: none;
  }
  p{
    font-weight: 600;
  }
}