.main-banner{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 180px;
    .banner-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 100%;

        img{
            height: 600px;
        }
    }
    .banner-text{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 50%;
        padding: 20px;
    }
    h1{
        width: 60%;
        font-size: 45px;
        margin-bottom: 40px;
    }
    p{
        width: 60%;
        margin-bottom: 40px;
    }
}









/*MEDIA QUERIES*/

@media(max-width:1400px){
    .main-banner{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 40px;
        height: 90vh;
        margin-top: 200px;
        margin-bottom: 150px;
        .banner-img{
            height: 70%;
            margin-top: 120PX;
            img{
                height: 480px;
            }
        }
        .banner-text{
            height: 100%;
            width: 100%;
        }
        h1{
            width: 100%;
            text-align: center;
            font-size: 40px;
        }
        p{
            width: 100%;
        }
    }



    @media(max-width:980px){
        .main-banner{
            flex-direction: column;
            justify-content: center;
            text-align: center;
            height: 75vh;
            margin-top: 200px;
            margin-bottom: 150px;
            .banner-img{
                height: 70%;
                margin-top: 60PX;
                margin-bottom: 80PX;
                img{
                    height: 350px;
                }
            }
            .banner-text{
                height: 100%;
                width: 100%;
                h2{
                    width: 100%;
                }
            }
            h1{
                width: 100%;
                text-align: center;
                font-size: 30px;
            }
            p{
                width: 100%;
            }
        }

    }

}